<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thirdshop.mapper.ItemMapper">
    <sql id="Item_field">
        id, name, price, scNum, gmNum, url1, url2, url3, url4, url5, ms, pam1, pam2, pam3, val1, val2, val3, type, zk, category_id_one,
        category_id_two, isDelete
    </sql>
    <sql id="Item_insert">
        #{id}, #{name}, #{price}, #{scNum}, #{gmNum}, #{url1}, #{url2}, #{url3}, #{url4}, #{url5}, #{ms}, #{pam1},
        #{pam2}, #{pam3}, #{val1}, #{val2}, #{val3}, #{type}, #{zk}, #{categoryIdOne}, #{categoryIdTwo}, #{isDelete}
    </sql>
    <sql id="Item_set">
        name = #{name}, price = #{price}, scNum = #{scNum}, gmNum = #{gmNum}, url1 = #{url1}, url2 = #{url2}, url3 = #{url3}, url4 = #{url4},
        url5 = #{url5}, ms = #{ms}, pam1 = #{pam1}, pam2 = #{pam2}, pam3 = #{pam3}, val1 = #{val1}, val2 = #{val2}, val3 = #{val3}, type = #{type},
        zk = #{zk}, category_id_one = #{categoryIdOne}, category_id_two = #{categoryIdTwo}, isDelete = #{isDelete}
    </sql>
    <sql id="Item_update">
        <if test="name!=null">name = #{name},</if>
        <if test="price!=null">price = #{price},</if>
        <if test="scNum!=null">scNum = #{scNum},</if>
        <if test="gmNum!=null">gmNum = #{gmNum},</if>
        <if test="url1!=null">url1 = #{url1},</if>
        <if test="url2!=null">url2 = #{url2},</if>
        <if test="url3!=null">url3 = #{url3},</if>
        <if test="url4!=null">url4 = #{url4},</if>
        <if test="url5!=null">url5 = #{url5},</if>
        <if test="ms!=null">ms = #{ms},</if>
        <if test="pam1!=null">pam1 = #{pam1},</if>
        <if test="pam2!=null">pam2 = #{pam2},</if>
        <if test="pam3!=null">pam3 = #{pam3},</if>
        <if test="val1!=null">val1 = #{val1},</if>
        <if test="val2!=null">val2 = #{val2},</if>
        <if test="val3!=null">val3 = #{val3},</if>
        <if test="type!=null">type = #{type},</if>
        <if test="zk!=null">zk = #{zk},</if>
        <if test="categoryIdOne!=null">category_id_one = #{categoryIdOne},</if>
        <if test="categoryIdTwo!=null">category_id_two = #{categoryIdTwo},</if>
        <if test="isDelete!=null">isDelete = #{isDelete}</if>
    </sql>
    <resultMap id="ItemResultMap" type="com.thirdshop.po.Item">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="price" column="price"/>
        <result property="scNum" column="scNum"/>
        <result property="gmNum" column="gmNum"/>
        <result property="url1" column="url1"/>
        <result property="url2" column="url2"/>
        <result property="url3" column="url3"/>
        <result property="url4" column="url4"/>
        <result property="url5" column="url5"/>
        <result property="ms" column="ms"/>
        <result property="pam1" column="pam1"/>
        <result property="pam2" column="pam2"/>
        <result property="pam3" column="pam3"/>
        <result property="val1" column="val1"/>
        <result property="val2" column="val2"/>
        <result property="val3" column="val3"/>
        <result property="type" column="type"/>
        <result property="zk" column="zk"/>
        <result property="categoryIdOne" column="category_id_one"/>
        <result property="categoryIdTwo" column="category_id_two"/>
        <result property="isDelete" column="isDelete"/>
        <association property="yiji" column="category_id_one" select="com.thirdshop.mapper.ItemCategoryMapper.load"/>
        <association property="erji" column="category_id_two" select="com.thirdshop.mapper.ItemCategoryMapper.load"/>
        <collection property="pls" column="id" ofType="com.thirdshop.po.Comment" select="com.thirdshop.mapper.CommentMapper.listByItemId"/>
    </resultMap>
    <select id="findBySqlRerturnEntity" resultMap="ItemResultMap">
        ${sql}
    </select>
    <insert id="insert">
        insert into item(
        <include refid="Item_field"/>
        )values (
        <include refid="Item_insert"/>
        )
    </insert>
    <select id="load" resultMap="ItemResultMap">
        select
        <include refid="Item_field"/>
        from item where id=#{id}
    </select>
    <update id="updateById">
        update item
        <set>
            <include refid="Item_update"/>
        </set>
        where id=#{id}
    </update>
    <update id="delete">
        update item
        set isDelete = 1
        where id = #{id}
    </update>
    <select id="listBySqlReturnEntity" resultMap="ItemResultMap">
        ${sql}
    </select>
    <update id="update">
        update item
        <set>
            <include refid="Item_set"/>
        </set>
        where id=#{id}
    </update>
</mapper>