<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thirdshop.mapper.ManageMapper">
    <sql id="manage_field">
        id,username,password,realName
    </sql>
    <sql id="manage_where">
        <where>
            <if test="id!=null">
                id=#{id}
            </if>
            <if test="username!=null">
                and username=#{username}
            </if>
            <if test="password!=null">
                and password=#{password}
            </if>
            <if test="realName!=null">
                and realName=#{realName}
            </if>
        </where>
    </sql>
    <select id="getByEntity" resultType="manage">
        select
        <include refid="manage_field"/>
        from manage
        <include refid="manage_where"/>
    </select>
</mapper>